@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --duca-red: #A03235;
    --duca-red-more-saturation: #670000;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d3d3d3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    line-height: 1.1;
}

p {
  margin: 0px 0px 15px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

/* a.bottom-effect::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: rgb(255, 255, 255);
  transition: var(--transition);
  opacity: 0.5;
}

a.bottom-effect:hover::after {
  width: 100%;
} */

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

/* ul {
  list-style: none;
} */

.hide {
    display: none!important;
}

/* START NAV */

.deactivateNav {
    transform: translateY(max(-8vh, -70px));
}

.color-class-white {
    color: rgb(192, 192, 192);
}

.color-class-white:hover {
    color: white;
}

.color-class-black {
    color: rgb(75, 75, 75);
}

.color-class-black:hover, .active-black {
    color: rgb(0, 0, 0);
}

.background-white {
    background: white!important;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 1.5em;
    height: max(8vh, 70px);
    z-index: 20;
    position: fixed;
    width: 100%;
    transition: all 250ms ease-in-out;
}

nav.active {
    height: max(7vh, 70px);
    background-color: #fff;
}

.logo {
    float: left;
}

.logo a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .4px;
    font-weight: 600;
}

@media screen and (max-width: 1050px) {
    nav {
        justify-content: space-between;
    }
}

@media screen and (max-width: 864px) {
    .color-class-white, .color-class-white:hover, .color-class-black, .color-class-black:hover {
        color: black;
    }

    nav.active {
        height: max(8vh, 70px);
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child){
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(100px);
        transition: all 0.3s cubic-bezier(0.13, -0.14, 1, 1.28);
    }

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 14px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: rgb(0, 0, 0);
        border-radius: 2px;
        margin-left: 14px;
        transition: transform 0.2s ease-in-out;
    }

    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000!important;
    transition: transform 0.2s ease-in-out;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
    transform: translateY(3px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

.nav-wrapper-active {
    z-index: 9990!important;
    opacity: 1!important;
    transform: translateY(0);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

.nav-wrapper-ul-active {
    opacity: 1!important;
    transform: translateX(0)!important;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

/* END NAV */

/* START LANDING PAGE */

.landing {
    height: 100vh;
    width: 100%;
    margin: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.landing .landing-square {
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background-color: #bfbfbf;
    transition: var(--transition);
}

.landing .landing-square img.landing-background-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: var(--transition);
    transform: scale(1.1);
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

.landing .landing-square:hover {
    cursor: pointer;
}

.landing .landing-square:hover img.landing-background-img {
    transform: scale(1);
}

.landing .landing-square:hover .landing-square-desc-wrapper {
    transform: scale(.909);
}

.landing-square-desc-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.35); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.landing-square-desc-wrapper::before {
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    background-color: rgba(0, 0, 0, 0.35);
}

.above-overlay {
    z-index: 2;
}

.landing-square-title p {
    text-align: left;
    font-size: 30px;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .4px;
    color: white;
    transition: var(--transition);
}

.landing-square-point {
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 8px;
    color: white;
    transition: var(--transition);
}

.landing-square-desc {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-left: 16px;
    color: white;
    transition: var(--transition);
}

.pop-up-arrow {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
    transition: var(--transition);
}

.landing .landing-square:hover .pop-up-arrow {
    right: 14px;
}

.pop-up-arrow i {
    font-weight: 600;
    font-size: 40px;
    color: white;
}

@media screen and (max-width: 930px) {
    .landing {
        flex-direction: column;
    }

    .landing .landing-square {
        width: 100%;
    }

    .landing-square-title p {
        font-size: 20px;
    }
    
    .landing-square-point {
        font-size: 20px;
    }
    
    .landing-square-desc {
        font-size: 15px;
    }

    .pop-up-arrow i {
        font-size: 28px!important;
    }
}

/* END LANDING PAGE */

/* TOUR PAGE */

.tour {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.container-image {
    position: relative;
    width: 75%;
}

.container-image::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0% 10% 10% 0% / 0% 140% 140% 00%;
    transform: translateX(22px);
    background-color: var(--duca-red);
    -webkit-box-shadow: 16px 1px 13px 0px rgba(0,0,0,0.2); 
    box-shadow: 16px 1px 13px 0px rgba(0,0,0,0.2);
}

.container-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 0% 10% 10% 0% / 0% 140% 140% 00%;
    -webkit-box-shadow: 16px 1px 13px 0px rgba(0,0,0,0.2); 
    box-shadow: 16px 1px 13px 0px rgba(0,0,0,0.2);
}

.desc-ult-wrapper {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.descrizione-wrapper-tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* height: min(80%, 800px); */
    height: 100%;
    padding-left: 40px;
    margin-right: 14px;
    z-index: 2;
}

.volume-exit-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.volume-exit-wrapper img.play-pause-button {
    height: 34px;
}

.volume-exit-wrapper img.exit-button {
    margin-left: 4px;
    height: 50px;
    width: 50px;
}

.description-wrapper {
    text-align: right;
}

.description-wrapper h1 {
    color: var(--duca-red);
    font-size: 60px;
    margin-bottom: 20px;
}

.description-wrapper h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.description-wrapper p {
    font-size: 18px;
}

.navgation-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 34px;
}

.navgation-buttons-wrapper img {
    height: 100%;
}

/* END TOUR PAGE */

/* START TIMETABLES OPEN DAY */

.open-day-presenza-wrapper {
    padding-top: calc(3/2 * max(8vh, 70px));
    padding-bottom: calc(3/2 * max(8vh, 70px));
    width: min(70%, 1000px);
    margin: auto;
    line-height: 32px;
    letter-spacing: -0.003em;
}

.open-day-presenza-wrapper p {
    margin-bottom: 0;
}

.title {
    font-size: 34px;
    font-weight: 700;
    color: var(--duca-red);
}

.subtitle {
    font-size: 22px;
    font-weight: 600;
    margin-top: 1.6em;
}

.paragraph-text {
    font-size: 20px;
    margin-top: 1.5em;
}

strong {
    font-weight: 600;
}

.list-style {
    font-size: 20px;
    padding-left: 1.2em;
}

.list-style li {
    margin-top: 4px;
}

.btn {
    margin: auto;
    margin-top: 2rem;
    background-color: var(--duca-red);
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.04);
    box-shadow: 0 0rem 1rem rgba(103, 0, 0, 0.5);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.get-more-btn {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    letter-spacing: 0;
    font-weight: 600;
    box-shadow: 0 0rem 1.5rem rgba(103, 0, 0, 0.5);
}

.btn a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.get-more-btn i {
    margin-left: 0.7rem;
}

.devider {
    height: 3em;
    font-size: 50px;
    letter-spacing: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
}

@media screen and (max-width: 864px) {
    .open-day-presenza-wrapper {
        width: min(90%, 1000px);
    }

    .title {
        font-size: 30px;
        font-weight: 700;
    }
    
    .subtitle {
        font-size: 20px;
        margin-top: 1.4em;
    }
    
    .paragraph-text {
        font-size: 18px;
        margin-top: 1.5em;
    }
    
    .list-style {
        font-size: 18px;
    }
    
    .list-style li {
        margin-top: 3px;
    }

    .get-more-btn {
        padding: 18px;
    }
}

/* END TIMETABLES OPEN DAY */

/* START OFFERTA FORMATIVA */

.offerta-formativa {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* END OFFERTA FORMATIVA */

/* START OPEN DAY VIRTUALE */

.open-day-virtuale-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
}

.full-screen-virtual-img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.overlay-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    top: 3%;
    right: 3%;
    transition: 
        width 0.25s cubic-bezier(0.645,0.045,0.355,1), 
        height 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.overlay-wrapper:hover {
    transform: scale(1.1);
}

.overlay-wrapper .info-icon {
    font-size: 50px;
    position: absolute;
}

.overlay-wrapper.active {
    border-radius: 20px;
    height: 550px;
    max-height: 80%;
    width: max(460px, 35%);
}

.overlay-wrapper.active:hover {
    transform: scale(1);
}

.overlay-wrapper.active .info-icon {
    display: none;
}

.virtual-openday-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    width: 100%;
    opacity: 0;
    transition: var(--transition);
    transition-property: opacity;
    transition-delay: 0.25s;
    transform: scale(0);
}

.overlay-wrapper.active .virtual-openday-overlay {
    transform: scale(1);
    opacity: 1;
}

.virtual-title-wrapper {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    border-bottom: 1px solid #dedede;
}

.title-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.virtual-title-wrapper h1 {
    font-size: 48px;
    margin: 0 0 0 4px;
}

.virtual-title-wrapper i {
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition);
}

.virtual-title-wrapper i:hover {
    color: rgba(0, 0, 0, 0.7);
}

.attibutes-list-wrapper {
    margin-top: 24px;
    width: 95%;
}

.attibutes-list-wrapper ul {
    padding-left: 1.2em;
}

.paragraph-wrapper {
    margin-top: 24px;
    width: 95%;
}

.fullscreen-wrap i {
    position: absolute;
    transform: translatex(-200px);
    bottom: 2%;
    left: 2%;
    font-size: 40px;
    color: white;
    font-weight: bold;
    transition: var(--transition);
}

.fullscreen-wrap.active i {
    transform: translateX(0px);
}

.fullscreen-wrap i:hover {
    transform: scale(1.2);
}

/* STOP OPEN DAY VIRTUALE */